@import "~bootstrap/scss/bootstrap.scss";

*{
    margin: 0;
    padding: 0;
}
.styleCasillero{
    font-size: 100px;
    height: 150px;
    width: 150px;
}
.styleCasilleroLobby{
    font-size: 100px;
    height: 150px;
    width: 150px;
}
.bg-principal{
    background-color: rgb(79, 80, 72);
}
.textW{
    color: white;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
